{{#o-button fooBar=fooBar bar=bar }}Button{{/o-button}}

<button onclick={{action (mut fooBar) 10}}>Set Foo</button>
<button onclick={{action (mut bar) null}}>Clear Bar</button>


{{o-div backgroundImage=backgroundImage}}